　


<div class="row">
      <div class="col-md-offset-3 col-md-3
       <li>
       <img scr = "/" alt = "イメージ">
       <h4 class="text-white">説明</h4>
       <h4 class="text-white">会社名</h4>
       <h4 class="text-white">集まっている金額</h4>
       <h4 class="text-white">金額</h4>
       <h4 class="text-white">達成率</h4>
       <h4 class="text-white">残り日数</h4>
       <li>
      </div>
</div>

<div class="main_content">
    <a href="/home/show">
        <img alt="イメージ">
    </a>
</div>
    <a href="#">
    <div class="projects">
        <h3>商品名</h3>
        <div class="name">
            <div class="image">
                <img alt="#">
            </div>
        </div>
        
        <div class="details">
            <div class="short">
            <i class=""></i>
            "集まっている金額"
            </div>
        </div>
        
        <div class="sum">
            ¥10000000
        </div>
        
        <div class="coment">
            <div>
            <i></i> 
            "目標達成率"
            </div>
        </div>
        
        <div class="l12">
            <div class="bar">
                <span class="baloon">
                    <span class="baloon-inner">
                        <em>539</em>
                        "%"
                    </span>
            
                </span>
            </div>
        </div>
        
        <div class="p-short">
            <div class="p-short-heading">
                <span>
                    <i></i>
                        "売れた口数"
                </span>
                
                <span>１５０
                </span>
                "枚"
            </div>
        </div>
        
        <div>
            <span></span>
            <i></i>
            "残り"
        </div>
        
        <div>
            <span></span>
            <span> 1 </span>
            "日"
        </div>
        
</div>
